.lb-container {
	margin: 30px auto;
	display: block;
	/*background: #ffffe6;*/
	width: 600pt;
	height: 500pt;
	box-shadow: 15px 15px 15px 15px rgba(0,0,0,.3);
	border-radius: 10px 25px 25px;
	font-family: Arial;
	vertical-align: top;
}

.lb-container_inner{
	position: relative;
	top: 20px;
	padding-left: 30px;
	margin-top: 20px;
    margin-left: 40px;
	display: block;
	background: #998;
	width: 600px;
	height: 270px;
	box-shadow: 25px 25px 25px 25px rgba(0,0,0,.2);
	border-radius: 10px 25px 25px;
	font-family: Arial;
}

.lb-right{
	position: relative;
	top: -211px;
	left: 300px;
}

.lb-main {
	display: inline-block;
}

.lb-main_text {

	font-weight: lighter;

}

.lb-central_pos{
	margin-left: 500px ;
}

.lb-center {
	margin: 0px auto;
 	text-align: center;
}

.lb-margin {
    margin: 30px 30px 30px 30px;
}

.lb-frame{
	
	height: 30px;
  	width: 60px;
	border: 2px groove #000;
	box-shadow: 0 3px 20px rgba(0,0,0,0.5),
		inset 0 2px 0 rgba(255,255,255,0.4),
			0 2px 0 rgba(0,0,0,0.2),
			inset 0 0 20px rgba(0,0,0, 0.3);
	border-radius: 5px 10px 13px;
	padding: 10px 0px 1px 15px;
	background: #787


}

.lb-button {
	display: block;

	height: 42px;
  	width: 100px;
  	cursor: pointer;
}

.lb-button:hover {
	box-shadow: inset 10 0px 20px rgba(0,0,0,0.1),
		 0 2px 0 rgba(255,255,255,0.1),
		inset	0 2px 0 rgba(0,0,0,0.1);
	

}

body {
	background-image	: url(images/background.png);
}

#lb-login {
	position: relative;
	color: #fff;
	left: 235px;
	top: 20px;
}

#lb-login_prev {
	width: 82px;
	position: relative;
}

#lb-registration{
	position: relative;
	color: #fff;
	margin: 10px;
	padding-left: 225px;
	top:35px;
}

#lb-registration_edit {
	height: 1000px;
}

#lb-reg_button{
	width: 100px;	
	color: #fff;
	left: 225px;
	top: 20px;
}

#lb-reg_button_prev{
	width: 120px;
	position: relative;
	color: #fff;
	left: 225px;
	top: 20px;
}

#lb-blank_button{
	width: 100px;
	color: #fff;
	left: 200px;
	top: 20px;
}

#lb-blank_button_prev{
	width: 120px;
	position: relative;
	color: #fff;
	left: 350px;
	top: 20px;
}

#lb-blank_area{
	height: 500px;
	width: 550px;
	margin-left: 400px;
}

#lb-message_area{
	height:  600px;
	width: 720px;
	margin-left: 320px;
}

#lb-profile_area{
	height:  600px;
	width: 720px;
	margin-left: 300px;	
}

#lb-area {
	position: fixed;
	padding-left: 20px;
	width: 190px;
	height: 300px;
}

.lb-area{
	display: block;
	margin-bottom: 20px;

}

#lb-select_type{
	width: 170px;
}

.lb-multi_text{
	height: 200px;
	max-height: 200px;
	max-width: 350px;
	width: 350px;
	overflow-y: scroll;
	overflow-x: scroll; 

}

#lb-message_text{
	height: 500px;
	max-height: 500px;
	max-width: 600px;
	width: 600px;
	overflow-y: scroll;
}

#lb-table_button{
	width: 100px;
	color: #fff;
	left: 200px;
	top: 20px;
}

#lb-table_button_prev{
	width: 120px;
	position: relative;
	color: #fff;
	left: 2px;
	top: 0px;
}
