# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.nupkg
LalkaBank/packages/
LalkaBank/WebApp/bin/
LalkaBank/WebApp/obj/
LalkaBank/WebApp/App_Data/
#===========
LalkaBank/Services/bin/
LalkaBank/Services/obj/
LalkaBank/DAO/bin/
#=======
LalkaBank/DAO/bin/
LalkaBank/DAO/obj/

*.dll
*.dll
LalkaBank/DAO/obj/Debug/TempPE/LalkaBankDabaseModel.cs.dll
*.dll
*.dll
LalkaBank/DAO/obj/Debug/TempPE/LalkaBankDabaseModel.Designer.cs.dll
*.dll
LalkaBank/DAO/obj/Debug/TempPE/LalkaBankDabaseModel.cs.dll
*.dll
LalkaBank/DAO/obj/Debug/TempPE/LalkaBankDabaseModel.cs.dll
*.dll
*.dll
LalkaBank/DAO/obj/Debug/TempPE/LalkaBankDabaseModel.cs.dll
*.dll
