@model WebApp.Models.Domains.Messages.MessagesViewModel
@{
    ViewBag.Title = "messages";
    var requestCount = 1;
}

<div class="row">
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Info</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var message in Model.Messages)
                    {
                        <tr>
                            <td>@(requestCount++)</td>
                            <td>@message.Text</td>
                            <td>
                                <button id="@message.Id" type="button" class="btn btn-primary btn-lg btn-modal">
                                    Просмотреть
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



