
@{
    ViewBag.Title = "Messages";
}

<div class="lb-container" id="lb-message_area">

    <div class="lb-center">
        <b><p class="x">Имя Сообщения</p></b>
        <textarea type="text" class="lb-multi_text" id="lb-message_text">
            письмо о том, какой ты лопух
        </textarea>
    </div>
</div>

