@using WebApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Вход/Регистрация";
}

<h1 class="center">
    <p class="main_text">Lalka Bank</p>
</h1>
<div class="main">

    <div class="central_pos">
        <div class="container">
            <div class="row">
                this is index page
                <div class="row">
                    <a href="@Url.Action("About")">About</a>
                </div>
            </div>
        </div>
    </div>

</div>