
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="lb-main">
    <div class="row">
        <div class="row">
            <h1 class="lb-center"></h1>
            <div class="lb-main">
                <div class="lb-central_pos">
                    <div class="lb-container">
                        <div class="row lb-margin">
                            <h1>Sorry, page not found((</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <div style="margin: auto 30% auto 45%; text-align: center">
                <div class="panel-footer" style="margin: 0px auto;">
                    &copy; @DateTime.Now.Year - Lalka Bank
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
