@model WebApp.Models.Domains.Requests.RequestViewModel
@{
    Layout = null;
}

<div class="row">
    @Html.LabelFor(m => m.CreditInfo)
    <div class="panel-info">
        @Model.CreditInfo
    </div>
</div>
<div class="row">
    @Html.LabelFor(m => m.CreditInfo)
    <div class="panel-info">
        @Model.CreditInfo
    </div>
</div>