
@{
    ViewBag.Title = "Login";
}

<h1 class="lb-center">
    <p class="lb-main_text">Lalka Bank</p>
</h1>
<div class="lb-main">
    <div class="lb-central_pos">
        <div class="lb-container">
            <div class="lb-center">
                <h2>Gretings</h2>
                <b><p class="x">LOGIN:</p></b>
                <input type="text">
            </div>
            <div class="lb-button" id="login">
                <div class="lb-frame" id="login_prev">
                    <p class="lb-center">Log In</p>
                </div>
            </div>
            <b><a id="registration" href="">Регистрация</a></b>
        </div>
    </div>
</div>

